.comment-container .editor-main {
    width: 400px;
    height: 200px;
    padding: 25px;
    border: solid 1px gray;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-y: scroll;
}

.comment-container .hide {
    display: none;
}

.comment-container .popup {
    width: 85px;
    height: 25px;
    border: solid 0.5px gray;
    background: white;
    position: absolute;
}